.App {
  text-align: center;
  width: 100vw;
  /* min-height: 100vh; */
  text-align: center;
  font-family: Arial, sans-serif;
  /* border: solid black 2px; */
  /* font-size: 130%; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blue-to-white {
  background: linear-gradient(to top right, lightblue 1%, #d6e9ff 10%, white 70%);
}

.rotate-warning {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffcc00;
  text-align: center;
  padding: 10px;
  z-index: 1000; /* Ensure it appears above other content */
}